body {
font-family: "Open Sans";
margin: 0;
padding: 0;
text-align: center;
width: 100%;
}

.information-section, 
.input-section {
  display: flex;
  flex-direction: column;
  float: none;
  left: 0;
  right: 0;
  width: 100%;
}

.input-section {
  background-color: #e5f3f2;
  height: 300px;
  padding: 0 0 2rem 0;
  top: 0;
}

.information-section {
  bottom: 0;
  height: 50%;
}

.title-body-form{
  line-height: 2px;
}

h1{
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  margin: 1rem 1rem;
}

button {
  cursor: pointer;
}

input {
  border: solid 2px #D1D3D4;
}

.idea-box-title {
  color: #00A79D;
}

.box-title {
  color: #6D6E71;
}

#title-input-box, 
#body-input-box {
  display: block;
  height: 2.5rem;
  margin: 1rem auto;
  text-align: left;
  width: 40rem;
}

input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9 !important;
  box-shadow: 2px 2px #a0a0a0
}
#search-input-box {
  height: 2.5rem;
  margin: 2rem auto;
  width: 40rem;
  }
  
input::-webkit-input-placeholder {
  color: #B5B6B8;
  font-size: 25px;
  padding: 10px 0 0 0;
  text-align: top;
}

input[type="text"] {
  font-size: 20px;
  padding: 0 0 0 .5rem;
}

.save-button {
  background-color: #00A79D;
  color: #fff;
  font-size: 24px;
  height: 2.8rem;
  margin: .5rem auto;
  width: 40.7rem;
}

.save-button:hover {
  background-color: #045E55;
}

.idea-box-card {
  height: 14.5rem;
  margin: 1rem auto;
  text-align: left;
  width: 40rem;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.card-title {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 1.9rem;
}

.idea-content {
  color: #939598;
  font-size: 1.4rem;
  height: 5rem;
  text-align: bottom;
}

.quality-title, 
.quality-rating {
  color: #6D6E71;
  display: inline;
  font-size: 20px;
}

.quality-rating {
  color: #D1D3D4;
}

.quality-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
}

.delete-button, 
.up-arrow-button, 
.down-arrow-button {
  border: none;
  color: none;
  height: 30px;
  outline: none;
  width: 30px;
}

.delete-button:hover, 
.upvote-button:hover, 
.downvote-button:hover {
  cursor: pointer;
}

.delete-button {
  background: url('Images/delete.svg');
  float: right;
}

.delete-button:hover {
  background: url('Images/delete-hover.svg');
}

.up-arrow-button {
  background: url('Images/upvote.svg');
  margin-right: 10px;
}

.up-arrow-button:hover {
  background: url('Images/upvote-hover.svg');
}

.down-arrow-button {
  background: url('Images/downvote.svg');
  margin: 0 20px 0 10px;
}

.down-arrow-button:hover {
  background: url('Images/downvote-hover.svg');
}

hr {
  background-color: #B5B6B8;
  border: none;
  height: 2px;
  margin: 2rem auto;
}

@media screen and (max-width: 750px) {
  
  #body-input-box,
  #search-input-box, 
  #title-input-box,
  .idea-box-card {
    width: 80vw;
  }

  .save-button {
    width: 82vw;
  }

  #body-input-box {
    height: 8rem;
  }

  .input-section {
    height: 380px;
  }
}