body {
width: 100%;
margin: 0;
padding: 0;
text-align: center;
font-family: "Open Sans";
}

.information-section, .input-section {
  left: 0;
  right: 0;
  width: 100%;
  float: none;
  flex-direction: column;
  display: flex;
}

.input-section {
  height: 300px;
  background-color: #e5f3f2;
  top: 0;
  padding: 0 0 2rem 0;

}
.information-section {
  height: 50%;
  bottom: 0;
  overflow: auto;
}

h1{
  margin: 1rem 1rem;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  font-size: 4rem;
}

.idea-box-title {
  color: #00A79D;
}

.box-title {
  color: #6D6E71;
}

#title-input-box, #body-input-box {
  text-align: left;
  display: block;
  margin: auto;
  height: 2.5rem;
  width: 40rem;
}

#search-input-box {
  height: 2.5rem;
  width: 40rem;
  margin-top: 3rem;
  margin-left: 9rem;
  margin: auto;
  }
  
input::-webkit-input-placeholder {
  font-size: 25px;
  padding: 10px 0 0 .4rem;
  color: #B5B6B8;
}

input[type="text"] {
  font-size: 20px;
  padding: 0 0 0 .5rem;
}

.save-button {
  background-color: #00A79D;
  height: 2.8rem;
  margin: 1.5rem 0 0 .3rem;
  width: 40.9rem;
  font-size: 20px;
  white-space: pre;
}

.idea-box-card {
  text-align: left;
  height: 10.5rem;
  width: 40rem;
  margin: auto;
}

h2 {
  font-size: 1.8rem;
  font-family: 'Roboto Slab', serif;
}

.quality-title, .quality-rating {
  display: inline;
  font-size: 20px;
}

.quality-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
}

.delete-button, .up-arrow-button, .down-arrow-button {
  border: none;
  color: none;
  height: 30px;
  width: 30px;
  outline: none;
}

.delete-button:hover, .upvote-button:hover, .downvote-button:hover {
  cursor: pointer;
}

.delete-button {
  background: url('Images/delete.svg');
  float: right;
}

.delete-button:hover {
  background: url('Images/delete-hover.svg');
}

.up-arrow-button {
  background: url('Images/upvote.svg');
  margin-right: 10px;
}

.up-arrow-button:hover {
  background: url('Images/upvote-hover.svg');
}

.down-arrow-button {
  background: url('Images/downvote.svg');
  margin: 0 20px 0 10px;
}

.down-arrow-button:hover {
  background: url('Images/downvote-hover.svg');
}